<ul>
    <% @folders[:children].each do |item| %>
    <% if item.is_a?(Hash) %>

    <li class="open-folder" data-path="<%=@folders[:data]+'/'+item[:data]%>">
        <i class="fa fa-folder" aria-hidden="true"></i>
        <%= item[:data] %>
    </li>
    <% else %>
    <li class="open-file" data-path="<%=@folders[:data]+'/'+item%>">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <%= item %>
      <%= form_for :download, url: folder_download_file_path do |f|%>
        <%=f.hidden_field :filepath, value: @folders[:data]+'/'+item %>
        <%=f.submit class: "fa fa-download download-file", value:'Download'%>
      <%end%>
    </li>
    <% end %>
    <% end %>
</ul>